@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";
@import "layouts/_tinymce";

body {
	background: whitesmoke;
}

/*tours page */

h1 {
	color: yellowgreen;
	font-family: serif;
	font-size: italic;
}

.page-id-7 h3 {
	color: orange;
	font-size: 29px;
	line-height: 38px;
}

.page-id-7 b {
	color: lightblue;
	font-size: 28px;
	line-height: 36px;
}

.page-id-7 strong, .page-id-7 .karka b {
	color: yellowgreen;
	font-size: 18px; 
}